<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <title>Get Started</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #section-1 {
            background-image: url("{{ url_for('static', filename='moonrise.png') }}");
            background-size: cover;
            color: #FFF4E6;
        }

        #section-2 {
            background-image: url("{{ url_for('static', filename='ray-of-light.png') }}");
            background-size: cover;
            color: #FFF4E6;
        }
    </style>
</head>
<body>
    <div id="upper">
        <a id="ui">Sign Up</a>
        <a id="ui">Log In</a>
        <a id="ui">About</a>
        <a id="ui">Contact</a>
    </div>

    <section class="sections" id="section-1">
        <header>
            <h1>CityPoint</h1>
            <h2>Bonuses in every way</h2>
            <h3>Get started</h3>
            <button id="join-us" onclick="getstarted()"><span>Join us now!</span></button>
        </header>
    </section>

    <section class="sections" id="section-2">
        <header>
            <h2>What is CityPoint?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
        </header>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
