<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div>
        <h2>Sign up</h2>
        <input type="text" id="signup-uid" placeholder="Username">
        <input type="password" id="signup-password" placeholder="Set Password">
        <button onclick="signup()">Signup</button>
        <p>Already have an account? <a href="/">Login here</a></p>
        <button id="switch-mode">Switch to Dark Mode</button>
    </div>
</body>
</html>
